@import url("https://fonts.googleapis.com/css2?family=Teachers:ital,wght@0,400..800;1,400..800&display=swap");

body {
  min-height: calc(100vh - 3rem);
  //background-image: linear-gradient(to right, #f83600 0%, #f9d423 100%);
  //background-image: linear-gradient(180deg, #2af598 0%, #009efd 100%);
  background-image: linear-gradient(-225deg, #FF057C 0%, #8D0B93 50%, #321575 100%);
  background-blend-mode: multiply;
  font-family: "Teachers", sans-serif;
  color: white;
}

@media screen and (min-width: 700px) {
  .carousel-item {
    width: 50% !important;
  }
}